
<h1 style="text-align: center;">Liste des Classes Standards</h1>
<br />
<table class="table table-bordered" style="text-align: center;background-color: mistyrose">
	<tr>
		<th>ID</th>
		<th>Mode d'offre</th>
		<th>Prix Maximum</th>
		<th>Surface Minimum</th>
		<th>Type de bien</th>
		<th>Opérations</th>
	</tr>
	<tr ng-repeat="classeStandard in listeCS">
		<td>{{classeStandard.idCode}}</td>
		<td ng-if="!classeStandard.modeOffre">&agrave louer</td>
		<td ng-if="classeStandard.modeOffre">&agrave acheter</td>
		<td>{{classeStandard.prixMax}}</td>
		<td>{{classeStandard.surfaceMin}}</td>
		<td>{{classeStandard.type}}</td>
		<td><button class="btn btn-success" ng-click="supprimLien(classeStandard)">Supprimer</button>
			|
			<button class="btn btn-success" ng-click="modifierLien(classeStandard)">Modifier</button>
		</td>
	</tr>
</table>



