
<h1 style="text-align: center;">Liste des Achats </h1>
<br/>
<table class="table table-bordered" style="text-align: center;background-color: mistyrose" >
	<tr>
		<th>ID</th>
		<th>Etat</th>
		<th>Prix</th>
		<th>Numero</th>
		<th>Rue</th>
		<th>Code Postal</th>
		<th>Ville</th>
		<th>Pays</th>
		<th>Date de Disponibilite</th>
		<th>Date de mise en Gerance</th>
		<th>Description</th>
		<th>Revenu Cadastral</th>
		<th>Statut</th>
		<th>Surface</th>
		<th>Operations</th>
	</tr>
	<tr ng-repeat="achat in listeAchat">
		<td>{{achat.id}}</td>
		<td>{{achat.etat}}</td>	
		<td>{{achat.prix}}</td>	
		<td>{{achat.adresse.num}}</td>	
		<td>{{achat.adresse.rue}}</td>
		<td>{{achat.adresse.cp}}</td>
		<td>{{achat.adresse.localite}}</td>
		<td>{{achat.adresse.pays}}</td>
		<td>{{achat.dateDispo}}</td>
		<td>{{achat.dateMiseEnGerance}}</td>
		<td>{{achat.description}}</td>
		<td>{{achat.revenuCadastral}}</td>
		<td>{{achat.statut}}</td>
		<td>{{achat.surface}}</td>
		<td><button class="btn btn-success" ng-click="supprimLien(achat)">Supprimer</button> | 
		<button class="btn btn-success" ng-click="modifierLien(achat)">Modifier</button> </td>
	</tr>
</table>



