
<h1 style="text-align: center;">Liste des Clients</h1>
<br/>
<table class="table table-bordered" style="text-align: center;">
	<tr>
		<th>ID</th>
		<th>Nom</th>
		<th>Numero</th>
		<th>Rue</th>
		<th>Code Postal</th>
		<th>Ville</th>
		<th>Pays</th>
		<th>Telephone</th>
		<th>Operation</th>
	</tr>
	<tr ng-repeat="client in listeClient">
		<td>{{client.id}}</td>
		<td>{{client.nom}}</td>	
		<td>{{client.num}}</td>	
		<td>{{client.rue}}</td>
		<td>{{client.cp}}</td>
		<td>{{client.localite}}</td>
		<td>{{client.pays}}</td>
		<td>{{client.tel}}</td>
		<td><button class="btn btn-success" ng-click="supprimLien()">Supprimer</button> | 
		<button class="btn btn-success" ng-click="modifierLien()">Modifier</button> </td>
	</tr>
</table>



