<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style type="text/css">

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

  </style>
</head>
<body>

<div class="container">

  <br> 
    <div class="alert alert-warning">
        <h3 style="text-align: center;">Pensez a verifier votre planning</h3>
        <p></p>
    </div>


  <h2 style="text-align: center;">Nouvelles Acquisitions</h2>
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>      
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active" >
        <img src="assets/css/images/hotel.jpg" alt="fantasia" style="width:400px; height: 275px">
        <div class="carousel-caption">
          <h3 ><b>Fantasia</b></h3>
          <p>Hotel Particulier</p>
        </div>
      </div>

      <div class="item">
        <img src="assets/css/images/hotel2.jpg" alt="paris" style="width:400px; height: 275px">
        <div class="carousel-caption">
          <h3><b>Paris 18e</b></h3>
          <p>Hotel Particulier</p>
        </div>
      </div>
    
      <div class="item" >
        <img src="assets/css/images/manoir.jpg" alt="franconville" style="width:400px; height: 275px">        
        <div class="carousel-caption">
          <h3><b>Franconville</b></h3>
          <p>Manoir</p>
        </div>
      </div>
  	      <div class="item">
        <img src="assets/css/images/manoir2.jpg" alt="dracula" style="width:400px; height: 275px">
        <div class="carousel-caption">
          <h3><b>Dracula</b></h3>
          <p>Manoir</p>
        </div>
      </div>

      <div class="item">
        <img src="assets/css/images/vignoble.jpg" alt="saint-emilion" style="width:400px; height: 275px">
        <div class="carousel-caption">
          <h3><b>Saint-Emilion</b></h3>
          <p>Hotel Particulier avec vignoble</p>
        </div>
      </div>
    
      <div class="item">
        <img src="assets/css/images/villa1.jpg" alt="barth" style="width:400px; height: 275px">        
        <div class="carousel-caption">
          <h3><b>Saint-Barthelemy</b></h3>
          <p>Villa avec piscine</p>
        </div>
      </div>
            <div class="item">
        <img src="assets/css/images/villa2.jpg" alt="franconville" style="width:400px; height: 275px">        
        <div class="carousel-caption">
          <h3><b>Franconville</b></h3>
          <p>Manoir</p>
        </div>
      </div>
    </div>

   
</body>
</html>
