
<h1 style="text-align: center;">Liste des Classes Standards</h1>
<br />
<table class="table table-bordered" style="text-align: center;background-color: mistyrose">
	<tr>
		<th>ID</th>
		<th>Mode d'offre</th>
		<th>Prix Maximum</th>
		<th>Surface Minimum</th>
		<th>Type de bien</th>
		<th>Opérations</th>
	</tr>
	<tr ng-repeat="cs in listeCS">
		<td>{{cs.idCode}}</td>
		<td ng-if="!cs.modeOffre">à louer</td>
		<td ng-if="cs.modeOffre">à acheter</td>
		<td>{{cs.prixMax}}</td>
		<td>{{cs.surfaceMin}}</td>
		<td>{{cs.type}}</td>
		<td><button class="btn btn-success" ng-click="supprimLien()">Supprimer</button>
			|
			<button class="btn btn-success" ng-click="modifierLien()">Modifier</button>
		</td>
	</tr>
</table>



