<h1 style="text-align: center">Formulaire d'ajout</h1>
<br>
<form class="form-horizontal">

  <div class="form-group">
    <label for="idNom" class="col-sm-2 control-label">Nom</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="idNom" placeholder="Nom" ng-model="proprietaireAjout.nom">
    </div>
  </div>
  <div class="form-group">
  <label for="idNom" class="col-sm-2 control-label">Adresse :</label>
  </div>

  <div class="form-group">
     
      <br>
  <div class="form-group">   
   
    <label for="idNum" class="col-sm-3 control-label">Numero</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="idNum" placeholder="numero" ng-model="proprietaireAjout.adresse.num">
    </div>   
  </div>
  
    <div class="form-group">      
   <label for="idRue" class="col-sm-3 control-label">Rue</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="idRue" placeholder="rue" ng-model="proprietaireAjout.adresse.rue">
    </div>  
  </div>
  
      <div class="form-group">    
    <label for="idCP" class="col-sm-3 control-label">Code Postal</label>
    <div class="col-sm-4">
      <input type="number" class="form-control" id="idCP" placeholder="Code postal" ng-model="proprietaireAjout.adresse.cp">
    </div>  
  </div> 
      <div class="form-group">      
    <label for="idVille" class="col-sm-3 control-label">Ville</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="idVille" placeholder="Ville" ng-model="proprietaireAjout.adresse.localite">
    </div> 
  </div>
      <div class="form-group">      

    <label for="idPays" class="col-sm-3 control-label">Pays</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="idPays" placeholder="Pays" ng-model="proprietaireAjout.adresse.pays">
    </div>  
  </div>
  </div>
    <div class="form-group">
    <label for="idTel" class="col-sm-2 control-label">Telephone</label>
    <div class="col-sm-5">
      <input type="number" class="form-control" id="idTel" placeholder="numero de telephone" ng-model="proprietaireAjout.tel">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <button class="btn btn-default" ng-click="ajouterProprietaire()">Ajouter</button>
    </div>
  </div>
</form>
