<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="idDate" class="col-sm-2 control-label">Date</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="idDate" placeholder="Date" ng-model="date">
    </div>
  </div>
  <div class="form-group">
    <label for="idClient" class="col-sm-2 control-label">Client</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="idClient" placeholder="Id Client" ng-model="idClient">
    </div>
  </div>
  <div class="form-group">
    <label for="idLoc" class="col-sm-2 control-label">Location</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="idLoc" placeholder="Ref location" ng-model="idLocation">
    </div>
  </div>
  <div class="form-group">
    <label for="idAchat" class="col-sm-2 control-label">Achat</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="idAchat" placeholder="Ref Achat" ng-model="idAchat">
    </div>
  </div>
  

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button  class="btn btn-default" ng-click="ajouterVisite()">Ajouter</button>
    </div>
  </div>
</form>