<h1 style="text-align: center">Formulaire d'ajout</h1>
<br>
<form class="form-horizontal">

  <div class="form-group">
    <label for="idetat" class="col-sm-2 control-label">Etat</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="idetat" placeholder="Etat" ng-model="achatAjout.etat">
    </div>
  </div>
  <div class="form-group">
  <label for="idNom" class="col-sm-2 control-label">Adresse :</label>
  </div>

  <div class="form-group">
     
      <br>
  <div class="form-group">   
   
    <label for="idNum" class="col-sm-3 control-label">Numero</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="idNum" placeholder="numero" ng-model="achatAjout.adresse.num">
    </div>   
  </div>
  
    <div class="form-group">      
   <label for="idRue" class="col-sm-3 control-label">Rue</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="idRue" placeholder="rue" ng-model="achatAjout.adresse.rue">
    </div>  
  </div>
  
      <div class="form-group">    
    <label for="idCP" class="col-sm-3 control-label">Code Postal</label>
    <div class="col-sm-4">
      <input type="number" class="form-control" id="idCP" placeholder="Code postal" ng-model="achatAjout.adresse.cp">
    </div>  
  </div> 
      <div class="form-group">      
    <label for="idVille" class="col-sm-3 control-label">Ville</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="idVille" placeholder="Ville" ng-model="achatAjout.adresse.localite">
    </div> 
  </div>
      <div class="form-group">      

    <label for="idPays" class="col-sm-3 control-label">Pays</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="idPays" placeholder="Pays" ng-model="achatAjout.adresse.pays">
    </div>  
  </div>
  </div>
    <div class="form-group">
    <label for="idetat" class="col-sm-2 control-label">Prix de vente </label>
    <div class="col-sm-5">
      <input type="number" class="form-control" id="idetat" placeholder="prix" ng-model="achatAjout.prix">
    </div>
  </div>
<div class="form-group">
    <label for="idetat" class="col-sm-2 control-label">Date de Disponibilite</label>
    <div class="col-sm-5">
      <input type="date" class="form-control" id="idetat" placeholder="date" ng-model="achatAjout.dateDispo">
    </div>
  </div>
  <div class="form-group">
    <label for="idetat" class="col-sm-2 control-label">Date de Mise en Gerance</label>
    <div class="col-sm-5">
      <input type="date" class="form-control" id="idetat" placeholder="date" ng-model="achatAjout.dateMiseEnGerance">
    </div>
  </div>
      <div class="form-group">
    <label for="idetat" class="col-sm-2 control-label">Description </label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="idetat" placeholder="Description" ng-model="achatAjout.description">
    </div>
  </div>
      <div class="form-group">
    <label for="idetat" class="col-sm-2 control-label">Revenu Cadastral </label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="idetat" placeholder="Revenu Cadastral" ng-model="achatAjout.revenuCadastral">
    </div>
  </div>
      <div class="form-group">
    <label for="idetat" class="col-sm-2 control-label">Surface </label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="idetat" placeholder="Surface" ng-model="achatAjout.surface">
    </div>
  </div>
      <div class="form-group">
    <label for="idetat" class="col-sm-2 control-label">Proprietaire </label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="idetat" placeholder="id Proprietaite" ng-model="achatAjout.proprietaire.id">
    </div>
  </div>
      <div class="form-group">
    <label for="idetat" class="col-sm-2 control-label">Classe Standard </label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="idetat" placeholder="Classe Standard" ng-model="achatAjout.cStd.nom">
    </div>
  </div>
        <div class="form-group">
    <label for="idetat" class="col-sm-2 control-label">Photo du bien  </label>
    <div class="col-sm-5">
      <input type="file" ng-model="achatAjout.photo" id="selectedFile" accept="image/*" class="form-control" base-sixty-four-input>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <button class="btn btn-default" ng-click="ajouterAchat()">Ajouter</button>
    </div>
  </div>
</form>
