<form class="form-horizontal" role="form">
	
	<div class="form-group">
		<label for="idClient" class="col-sm-2 control-label">Client</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="idC"
				placeholder="Id Client" ng-model="idC">
		</div>
	</div>
	
	
	<div class="form-group">
		<label for="idBien" class="col-sm-2 control-label">Ref Location</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="idBien"
				placeholder="Ref Bien" ng-model="idBien">
		</div>
	</div>
	

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" ng-click="attribuerAcquereurLoc()">Faire transaction</button>
		</div>
	</div>
</form>