<h1 style="text-align: center">Formulaire de Recherche</h1>
<br>
<form class="form-horizontal">

  <div class="form-group">
    <label for="idNom" class="col-sm-2 control-label">Ville</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="idNom" placeholder="ville" ng-model="motCle">
    </div>
  </div>
  


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" ng-click="rechercherMCAchat()">Rechercher</button>
    </div>
  </div>
</form>


<h1 style="text-align: center;" ng-show=indice>Resultat de la recherche</h1>
<br/>
{{achatRechercheMC.id}}
<table class="table table-bordered" style="text-align: center;background-color: mistyrose" ng-show="indice" >
	<tr>
		<th>ID</th>
		<th>Etat</th>
		<th>Prix</th>
		<th>Numero</th>
		<th>Rue</th>
		<th>Code Postal</th>
		<th>Ville</th>
		<th>Pays</th>
		<th>Date de Disponibilite</th>
		<th>Date de mise en Gerance</th>
		<th>Description</th>
		<th>Revenu Cadastral</th>
		<th>Statut</th>
		<th>Surface</th>
		<th>Photo</th>
		<th>Operations</th>
	</tr>
	<tr ng-repeat="achatRMC in achatRechercheMC">
		<td>{{achatRMC.id}}</td>
		<td>{{achatRMC.etat}}</td>	
		<td>{{achatRMC.prix}}</td>	
		<td>{{achatRMC.adresse.num}}</td>	
		<td>{{achatRMC.adresse.rue}}</td>
		<td>{{achatRMC.adresse.cp}}</td>
		<td>{{achatRMC.adresse.localite}}</td>
		<td>{{achatRMC.adresse.pays}}</td>
		<td>{{achatRMC.dateDispo}}</td>
		<td>{{achatRMC.dateMiseEnGerance}}</td>
		<td>{{achatRMC.description}}</td>
		<td>{{achatRMC.revenuCadastral}}</td>
		<td>{{achatRMC.statut}}</td>
		<td>{{achatRMC.surface}}</td>
		<td><img ng-src="data:image/JPEG;base64,{{achatRMC.photo}}"
					style="max-height: 50px; max-width: 50px"></td>

	</tr>
</table>



