<h1 style="text-align: center">Formulaire de Recherche</h1>
<br>
<form class="form-horizontal">

  <div class="form-group">
    <label for="idNom" class="col-sm-2 control-label">Nom</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="idNom" placeholder="Nom" ng-model="nom">
    </div>
  </div>
  


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" ng-click="rechercherClasseStandard()">Rechercher</button>
    </div>
  </div>
</form>


<h1 style="text-align: center;" ng-show=indice>Resultat de la recherche</h1>
<br/>
<table class="table table-bordered" style="text-align: center;background-color: mistyrose" ng-show=indice>
	<tr>
		<th>ID</th>
		<th>Mode d'offre</th>
		<th>Prix Maximum</th>
		<th>Surface Minimum</th>
		<th>Type de bien</th>
	</tr>
	<tr>
		<td>{{classeStandardRecherche.idCode}}</td>
		<td ng-if="!classeStandardRecherche.modeOffre">&agrave louer</td>
		<td ng-if="classeStandardRecherche.modeOffre">&agrave acheter</td>
		<td>{{classeStandardRecherche.prixMax}}</td>
		<td>{{classeStandardRecherche.surfaceMin}}</td>
		<td>{{classeStandardRecherche.type}}</td>

</table>

