
<form class="form-horizontal">

  <div class="form-group">
    <label for="idNom" class="col-sm-2 control-label">Nom</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="idNom" placeholder="Nom" ng-model="nom">
    </div>
  </div>
  


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" ng-click="rechercherClient()">Rechercher</button>
    </div>
  </div>
</form>


<h1 style="text-align: center;">Resultat de la recherche</h1>
<br/>
<table class="table table-bordered" style="text-align: center;">
	<tr>
		<th>ID</th>
		<th>Nom</th>
		<th>Numero</th>
		<th>Rue</th>
		<th>Code Postal</th>
		<th>Ville</th>
		<th>Pays</th>
		<th>Telephone</th>
		<th>Operation</th>
	</tr>
	<tr >
		<td>{{clientRecherche.id}}</td>
		<td>{{clientRecherche.nom}}</td>	
		<td>{{clientRecherche.adresse.num}}</td>	
		<td>{{clientRecherche.adresse.rue}}</td>
		<td>{{clientRecherche.adresse.cp}}</td>
		<td>{{clientRecherche.adresse.localite}}</td>
		<td>{{clientRecherche.adresse.pays}}</td>
		<td>{{clientRecherche.tel}}</td>
		<td><button class="btn btn-success" ng-click="supprimLien()">Supprimer</button> | 
		<button class="btn btn-success" ng-click="modifierLien()">Modifier</button> </td>
	</tr>
</table>



